body {
     background: whitesmoke;
     }
header {
    margin-top: 30px;
     }
header a {
    color: black;
    text-decoration: none;
     }
header a:hover { 
    text-decoration: none; 
    }
form {
    margin-top: 20px; 
    }
form, #results { 
    padding: 0 20px;
    }
    
.search {
    width: 50%;
    }
    
.resultItem {
        z-index: 2;
        
    }
.searchResults { 
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto; 
    z-index: 1;
    box-shadow: 10px 9px 44px -15px rgba(0,0,0,0.75);
    height: 500px;
    width: 500px;
    }

.w100 { 
    width: 100%; 
    }

.btn-primary { 
    background: grey; 
    border-color: black; 
    }
.btn-primary:hover, .btn-primary:active, .btn-primary:focus { 
    background: silver; 
    border-color: gray; 
    }