body {
     background: whitesmoke;
     }
header {
    margin-top: 30px;
     }
header a {
    color: black;
    text-decoration: none;
     }
header a:hover { 
    text-decoration: none; 
    }
form {
    margin-top: 20px; 
    }
form, #results { 
    padding: 0 20px;
    }
    
    #result {
        z-index: 2;
        
    }
.item { 
    margin-bottom: 25px; 
    z-index: 2;
    box-shadow: 10px 9px 44px -15px rgba(0,0,0,0.75);
    height:
    }

.w100 { 
    width: 100%; 
    }

.btn-primary { 
    background: grey; 
    border-color: black; 
    }
.btn-primary:hover, .btn-primary:active, .btn-primary:focus { 
    background: silver; 
    border-color: gray; 
    }
